#fundo {
    width: 100%;
    position: relative;
    top: 0vh;
    height: 120vh;
}

body {
    margin: 0px;
    background-color: #f3f3f3;
}

.tsecao {
    font-size: 2em;
    margin: 5% 0% 5% 0%;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.psecao {
    width: 70%;
    margin: 0% 15% 5% 15%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.textoImgs {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
    color: white;
    font-size: 3.5em;
    font-family: 'Quicksand', sans-serif;
}

#subt {
    position: absolute;
    padding-top: 5%;
    width: 100%;
    text-align: center;
    top: 45%;
    color: white;
    font-size: 2.0em;
    font-family: 'Quicksand', sans-serif;
}

nav {
    position: absolute;
    top: 5vh;
    left: 65%;
}

nav li {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    padding: 1vh;
}

nav a {
    color: white;
    text-decoration: none;
}

#logo {
    position: absolute;
    top: 4vh;
    left: 10vh;
    width: 15%;
}

.post h3,
.post p {
    font-family: 'Open Sans', sans-serif;
    padding-left: 50%;
}

.post h3 {
    font-size: 1.7em;
}

.post p,
#sobre p {
    font-size: 1em;
}

.post {
    padding: 4vh;
    padding-top: 3%;
    width: 50%;
    margin: 5% 5% 5% 5%;
    background-color: white;
}

.post img {
    width: 45%;
    float: left;
    border-radius: 1.5%;
}

#sobre h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    padding-left: 5%;
}

#sobre {
    width: 30%;
    background-color: white;
    float: right;
    margin-right: 4%;
    margin-top: 1.5%;
}

#sobre img {
    width: 100%;
    height: 30%;
    border-radius: 1.5%;
}

#sobre p {
    padding: 0% 5% 5% 5%;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

#especial {
    color: #01579b;
}

.links {
    text-decoration: none;
}

.links::after {
    color: #26a69a;
}

.links:hover {
    color: #bad0ce;
    font-weight: bold;
    text-decoration: none;
}

#redes {
    background-color: white;
    top: 0%;
}

#help {
    height: 5%;
    background-color: #f3f3f3;
}

#redes img {
    width: 20%;
    height: 15%;
    padding-bottom: 5%;
}

#ajustar {
    padding: 0% 5% 5% 15%;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #f3f3f3;
    padding-top: 3%;
}

footer {
    background-color: #5e7c7a;
    width: 100%;
    margin-top: 30%;
}

footer img {
    width: 3%;
    height: 7%;
    padding: 1%;
}

#ajustar2 {
    padding-left: 42%;
}

#sanduiche {
    visibility: hidden;
    color: white;
    text-align: center;
    position: relative;
}

.carousel {
    width: 100%;
    height: 60%;
}

.imgcarousel {
    width: 60%;
    height: 100vh;
}

.imgSobre {
    width: 20vh;
    height: 20vh;
    float: left;
    margin: 0% 5% 5% 20%;
    border-radius: 5%;
}

.lista {
    padding-top: 60vh;
}

.aparecer {
    visibility: hidden;
    position: absolute;
}

.oslide {
    background-color: #5e7c7a;
    width: 100%;
    padding: 2%;
}

.slide {
    padding: 2%;
}

.tcar {
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-align: center;
    font-size: 2em;
    margin: 5% 0% 1% 0%;
}

.cc {
    width: 70%;
    margin: 0% auto 2% auto;
}

.pc {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 0.8em;
    padding: 3%;
}

.subcar {
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5em;
}


/* Ajustes de Responsividade */

@media (max-width: 596px) {
    #sanduiche {
        visibility: visible;
        color: #01579b;
    }
    nav {
        position: absolute;
        top: 0%;
        left: 0%;
        text-align: center;
    }
    nav li {
        display: block;
        margin: 1%;
        background-color: #0142dc66;
    }
    nav ul {
        padding: 0%;
    }
    .menuresponsivo {
        visibility: hidden;
    }
    .nav2 {
        position: relative;
    }
    #sobre {
        float: none;
        width: 70%;
        margin: 17%;
    }
    .post img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .post {
        width: 55%;
        margin: 17%;
    }
    .post h3,
    .post p {
        padding-left: 0%;
    }
}

@media (max-width: 691px) {
    #logo {
        left: 5%;
    }
}

@media (min-width: 500px) and (max-width: 1000px) {
    .textoImgs,
    #subt {
        top: 15%;
    }
    #subt {
        padding-top: 10%;
    }
}

@media(max-width: 499px) {
    .textoImgs,
    #subt {
        top: 10%;
    }
    .textoImgs {
        font-size: 1.5em;
    }
    #subt {
        padding-top: 5%;
        font-size: 1em;
    }
}